body {
    text-align: center;
}
/* Modal Content/Box */
.modal-content {
    display: none;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    left: 50%;
    top: 50%;

}

/* The Close Button */
#closeModal {
    color: #aaa;
    float: right;
    font-size: 18px;
    font-weight: bold;
}
#replayGameModal {
    color: #aaa;
    float: left;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid black;
}
